openapi: 3.0.0
info:
  description: APIs for interacting with Cadana Global Payments
  version: 1.0.0
  title: Embedded Payments
  termsOfService: https://cadanapay.com/terms-and-conditions
  contact:
    email: api@cadanapay.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.cadanapay.com
    description: Prod Server
  - url: https://dev-api.cadanapay.com
    description: Dev Server
security:
  - Authorization: []
tags:
  - name: Beneficiaries
    description: APIs for managing beneficiaries
  - name: Payouts
    description: APIs for managing payouts
  - name: Balances
    description: APIs for managing account balances
  - name: FX
    description: APIs for managing foreign exchange rates
  - name: Resources
    description: Resource APIs to access and manage foundational data
  - name: Virtual Accounts
    description: APIs for managing virtual accounts
paths:
  /v1/beneficiaries:
    post:
      summary: Create
      description: Create a new beneficiary i.e employee/contractor's payout account
      tags:
        - Beneficiaries
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/XMultiTenantKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBeneficiaryRequest'
            examples:
              philippinesBankPaymentMethod:
                $ref: '#/components/examples/philippinesBankPaymentMethod'
              colombiaBankPaymentMethod:
                $ref: '#/components/examples/colombiaBankPaymentMethod'
              mexicoBankPaymentMethod:
                $ref: '#/components/examples/mexicoBankPaymentMethod'
              elSalvadorBankPaymentMethod:
                $ref: '#/components/examples/elSalvadorBankPaymentMethod'
              momoPaymentMethod:
                $ref: '#/components/examples/momoPaymentMethod'
      responses:
        '200':
          $ref: '#/components/responses/CreateBeneficiaryResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        5XX:
          $ref: '#/components/responses/InternalError'
    get:
      summary: List
      description: Retrieve beneficiaries
      tags:
        - Beneficiaries
      parameters:
        - $ref: '#/components/parameters/XMultiTenantKey'
      responses:
        '200':
          $ref: '#/components/responses/GetBeneficiariesResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        5XX:
          $ref: '#/components/responses/InternalError'
  /v1/beneficiaries/{beneficiaryId}:
    get:
      summary: Get
      description: Get an existing beneficiary
      tags:
        - Beneficiaries
      parameters:
        - $ref: '#/components/parameters/beneficiaryId'
        - $ref: '#/components/parameters/XMultiTenantKey'
      responses:
        '200':
          $ref: '#/components/responses/GetBeneficiaryResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        5XX:
          $ref: '#/components/responses/InternalError'
    delete:
      summary: Delete
      description: Delete an existing beneficiary
      parameters:
        - $ref: '#/components/parameters/beneficiaryId'
        - $ref: '#/components/parameters/XMultiTenantKey'
      tags:
        - Beneficiaries
      responses:
        '204':
          description: Successful operation
        '404':
          $ref: '#/components/responses/NotFoundError'
        5XX:
          $ref: '#/components/responses/InternalError'
  /v1/files/upload-url:
    post:
      summary: Create upload URL
      description: |
        Reserve a file ID and receive a short-lived HTTPS **PUT** URL.
        After the client uploads the bytes to that URL, it can reference
        `fileId` in later API calls (e.g. Beneficiary creation KYC).
      tags:
        - Beneficiaries
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/XMultiTenantKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadUrlRequest'
            examples:
              kycFront:
                summary: JPEG passport front
                value:
                  purpose: kyc-id-front
                  contentType: image/jpeg
      responses:
        '200':
          $ref: '#/components/responses/UploadUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        5XX:
          $ref: '#/components/responses/InternalError'
  /v1/files/{fileId}:
    get:
      summary: Get file details
      description: Get details and a download URL for a file by its fileId
      tags:
        - Beneficiaries
      security:
        - Authorization: []
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the file
        - $ref: '#/components/parameters/XMultiTenantKey'
      responses:
        '200':
          $ref: '#/components/responses/GetFileDetailsResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        5XX:
          $ref: '#/components/responses/InternalError'
  /v1/payouts:
    post:
      summary: Create
      description: Create a new payout
      tags:
        - Payouts
      parameters:
        - $ref: '#/components/parameters/XMultiTenantKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayoutRequest'
            examples:
              payoutRequest:
                summary: Example payout request
                value:
                  beneficiaryId: c871b333-e129-409c-aabd-7cfb55a967cc
                  quoteId: d35d2bd6-188b-4e82-9a16-71442dad7375
                  amount:
                    amount: 500000
                    currency: PHP
                  reference: payout-123
      responses:
        '200':
          $ref: '#/components/responses/CreatePayoutRespone'
        '400':
          $ref: '#/components/responses/BadRequestError'
        5XX:
          $ref: '#/components/responses/InternalError'
    get:
      summary: List
      description: Retrieve payouts
      tags:
        - Payouts
      parameters:
        - name: reference
          in: query
          required: false
          description: Client reference to filter payouts
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Filter by payout status
          schema:
            type: string
            enum:
              - initiated
              - processing
              - succeeded
              - failed
        - name: startDate
          in: query
          required: false
          description: Filter payouts created on or after this date (ISO 8601)
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          description: Filter payouts created on or before this date (ISO 8601)
          schema:
            type: string
            format: date
        - name: order
          in: query
          required: false
          description: Sort order by creation date
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: cursor
          in: query
          required: false
          description: Pagination cursor returned from a previous request
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return
          schema:
            type: integer
            default: 20
        - name: format
          in: query
          required: false
          description: >-
            Response format. When set to `csv`, returns all matching payouts as
            a CSV file download. Requires `startDate` and `endDate`.
          schema:
            type: string
            enum:
              - csv
        - $ref: '#/components/parameters/XMultiTenantKey'
      responses:
        '200':
          $ref: '#/components/responses/GetPayoutsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        5XX:
          $ref: '#/components/responses/InternalError'
  /v1/payouts/{payoutId}:
    get:
      summary: Get
      description: Get an existing payout
      parameters:
        - $ref: '#/components/parameters/payoutId'
        - $ref: '#/components/parameters/XMultiTenantKey'
      tags:
        - Payouts
      responses:
        '200':
          $ref: '#/components/responses/GetPayoutResponse'
  /v1/businesses/{businessId}/balances:
    get:
      summary: Get account balances
      description: Get a business's account balances
      operationId: getBusinessBalances
      tags:
        - Balances
      parameters:
        - $ref: '#/components/parameters/businessId'
        - $ref: '#/components/parameters/XMultiTenantKey'
      responses:
        '200':
          $ref: '#/components/responses/GetBalancesResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        5XX:
          $ref: '#/components/responses/InternalError'
      security:
        - Authorization: []
  /v1/businesses/{businessId}/funding-details:
    get:
      summary: Get funding details
      description: Returns the business's funding details.
      operationId: getFundingDetails
      tags:
        - Balances
      parameters:
        - $ref: '#/components/parameters/businessId'
        - $ref: '#/components/parameters/XMultiTenantKey'
      responses:
        '200':
          $ref: '#/components/responses/GetFundingDetailsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        5XX:
          $ref: '#/components/responses/InternalError'
      security:
        - Authorization: []
  /v1/businesses/{businessId}/crypto-deposit-addresses:
    post:
      summary: Create crypto deposit address
      description: >-
        Creates a crypto deposit address for the business on the given chain.
        Fails if an address already exists for that currency and chain.
      operationId: createCryptoDepositAddress
      tags:
        - Balances
      parameters:
        - $ref: '#/components/parameters/businessId'
        - $ref: '#/components/parameters/XMultiTenantKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currency
                - chain
              properties:
                currency:
                  type: string
                  enum:
                    - USDC
                    - USDT
                  description: Stablecoin to receive
                  example: USDC
                chain:
                  type: string
                  description: >-
                    Blockchain network. USDC: ethereum, solana, arbitrum, base,
                    polygon. USDT: ethereum, solana, tron.
                  example: ethereum
      responses:
        '200':
          description: Crypto deposit address created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  currency:
                    type: string
                    example: USDC
                  chain:
                    type: string
                    example: ethereum
                  address:
                    type: string
                    example: '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
        '400':
          description: >-
            Bad request — an unsupported currency/chain, or a deposit address
            already exists for that currency and chain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              example:
                code: invalid_request_body
                message: >-
                  One or more input values are invalid. Please re-enter valid
                  values
                params:
                  chain: currency and chain combination already exists
        5XX:
          $ref: '#/components/responses/InternalError'
      security:
        - Authorization: []
  /v1/payment-requirements:
    get:
      summary: Payment corridor requirements
      description: >
        Returns a Draft-07 JSON-Schema fragment that specifies every field,
        enum, regex and conditional rule for the requested `countryCode` +
        `currency` + `paymentMethod`.
      tags:
        - Resources
      operationId: getPaymentRequirements
      parameters:
        - name: countryCode
          in: query
          required: true
          schema:
            type: string
            example: CO
        - name: paymentMethod
          in: query
          required: true
          schema:
            type: string
            example: bank
        - name: currency
          in: query
          required: true
          schema:
            type: string
            example: COP
        - $ref: '#/components/parameters/XMultiTenantKey'
      responses:
        '200':
          description: Draft-07 JSON-Schema fragment
          content:
            application/schema+json:
              schema:
                $ref: '#/components/schemas/JSONSchemaDraft07'
              examples:
                colombiaBank:
                  $ref: '#/components/examples/coBankSchema'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        5XX:
          $ref: '#/components/responses/InternalError'
  /v1/providers:
    get:
      summary: Get payout providers
      description: Get a list of providers for a given country code
      tags:
        - Resources
      parameters:
        - name: countryCode
          in: query
          required: true
          description: The country code in ISO 3166-1 alpha-2 format
          schema:
            type: string
          example: BR
        - $ref: '#/components/parameters/XMultiTenantKey'
      responses:
        '200':
          $ref: '#/components/responses/GetProvidersResponse'
  /v1/providers/resolve:
    get:
      summary: Resolve bank provider
      description: >-
        Resolves a bank code, SWIFT code, or ACH routing number to the
        corresponding bank name and details. The behaviour depends on the
        `paymentMethod` parameter:

        - **swift** — resolves an 8 or 11-character SWIFT/BIC code

        - **ach** — resolves a 9-digit US ACH routing number

        - **bank** — resolves against Cadana's internal bank provider list
          for the given currency
      tags:
        - Resources
      parameters:
        - name: code
          in: query
          required: true
          description: The bank code, SWIFT code, or routing number to look up
          schema:
            type: string
          example: '341'
        - name: currency
          in: query
          required: true
          description: ISO 4217 currency code
          schema:
            type: string
          example: BRL
        - name: paymentMethod
          in: query
          required: true
          description: 'Payment method type: swift, ach, or bank'
          schema:
            type: string
            enum:
              - swift
              - ach
              - bank
          example: bank
        - $ref: '#/components/parameters/XMultiTenantKey'
      responses:
        '200':
          $ref: '#/components/responses/ResolveCodeResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
  /v1/payment-methods:
    get:
      summary: Get payment methods
      description: Get a list of available payment methods for a given country code
      tags:
        - Resources
      operationId: getPaymentMethods
      parameters:
        - name: countryCode
          in: query
          required: false
          description: The country code in ISO 3166-1 alpha-2 format
          schema:
            type: string
          example: BR
        - name: paymentMethod
          in: query
          required: false
          description: The payment method to filter by
          schema:
            type: string
          example: bank
        - name: currency
          in: query
          required: false
          description: The currency to filter by
          schema:
            type: string
          example: USD
        - $ref: '#/components/parameters/XMultiTenantKey'
      responses:
        '200':
          $ref: '#/components/responses/GetPaymentMethodsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        5XX:
          $ref: '#/components/responses/InternalError'
  /v1/fx-quotes:
    post:
      summary: Create FX Quote
      description: Create an fx quote
      tags:
        - FX
      parameters:
        - $ref: '#/components/parameters/XMultiTenantKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFXQuoteRequest'
      responses:
        '200':
          $ref: '#/components/responses/CreateFXQuoteResponse'
  /v1/users/{userId}/virtual-accounts:
    post:
      summary: Create Virtual Account
      description: Create a new virtual account for a user
      tags:
        - Virtual Accounts
      parameters:
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/XMultiTenantKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVirtualAccountRequest'
            examples:
              virtualAccountRequest:
                summary: >-
                  Example virtual account creation request. Use `99999900` as
                  customIdentification.number for automatic account creation
                value:
                  currency: USD
                  customIdentification:
                    type: ssn
                    number: 123-45-6789
                  jobInformation:
                    employerName: Acme Corp
                    address:
                      line1: 123 Main St
                      city: Anytown
                      postalCode: '12345'
                      state: CA
                      countryCode: US
                    employerWebsite: ''
                    title: Software Engineer
                    type: full-time
                    netPay:
                      amount: 10000
                      currency: USD
                    frequency: monthly
                    contractStartDate: '2021-01-01'
                    contractEndDate: '2025-05-06'
                  suppressNotification: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        5XX:
          $ref: '#/components/responses/InternalError'
    get:
      summary: Get Virtual Accounts
      description: Retrieve virtual accounts for a user
      tags:
        - Virtual Accounts
      parameters:
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/XMultiTenantKey'
      responses:
        '200':
          $ref: '#/components/responses/GetVirtualAccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        5XX:
          $ref: '#/components/responses/InternalError'
  /v1/sandbox/users/{userId}/virtual-accounts/{virtualAccountId}/deposit:
    post:
      summary: Simulate virtual account deposit
      description: Simulate a virtual account deposit for an active virtual account
      tags:
        - Virtual Accounts
      parameters:
        - $ref: '#/components/parameters/userId'
        - $ref: '#/components/parameters/virtualAccountId'
        - $ref: '#/components/parameters/XMultiTenantKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulateVirtualAccountDepositRequest'
            examples:
              simulateVirtualAccountDepositRequest:
                summary: Example virtual account creation request
                value:
                  amount:
                    amount: 10000
                    currency: USD
                  reference: c06f3427-3bbe-4d70-9a54-28acda267e48
                  description: Payroll 10/10
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        5XX:
          $ref: '#/components/responses/InternalError'
components:
  schemas:
    JSONSchemaDraft07:
      description: >
        This is a Draft-07 JSON Schema fragment. For the full meta-schema, see
        https://json-schema.org/draft-07/schema#. 

        Rely on the provided example for the expected structure.
    uuid:
      type: string
      format: uuid
      example: 8ef9a712-cdae-4110-b1ea-9ba95abbee6e
    amount:
      type: object
      required:
        - value
        - currency
      properties:
        value:
          type: integer
          description: value in lowest denomination
          example: 10000
        currency:
          type: string
          description: currency
          example: USD
    balance:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 517075a2-17db-469f-9481-eb8347cb920c
        currency:
          type: string
          example: USD
        balance:
          type: integer
          description: value in lowest denomination
          example: 703448
        available:
          type: integer
          description: value in lowest denomination
          example: 703448
        processing:
          type: integer
          description: value in lowest denomination
          example: 0
    fxQuote:
      type: object
      required:
        - id
        - from
        - to
        - rate
        - expirationTimestamp
      properties:
        id:
          type: string
          format: uuid
          example: 57c74c5d-38a0-41e7-a19e-161f16dc4898
        from:
          type: string
          example: USD
        to:
          type: string
          example: PHP
        rate:
          type: string
          example: '56.1234'
        expirationTimestamp:
          type: string
          format: date-time
          example: '2025-05-29T21:42:52Z'
    kycMinimal:
      description: KYC attributes for a beneficiary
      type: object
      required:
        - firstName
        - lastName
        - dateOfBirth
        - countryCode
        - idType
        - idNumber
        - idFileFront
      properties:
        firstName:
          type: string
          maxLength: 50
          example: Jane
        lastName:
          type: string
          maxLength: 50
          example: Roe
        dateOfBirth:
          type: string
          format: date
          example: '1990-08-15'
        countryCode:
          type: string
          description: Country issuing the ID (ISO 3166-1 alpha-2)
          example: CO
        idType:
          type: string
          enum:
            - PASSPORT
            - NATIONAL_ID
            - DRIVER_LICENSE
            - RESIDENCE_PERMIT
            - OTHER
          example: NATIONAL_ID
        idNumber:
          type: string
          maxLength: 30
          example: '76543210'
        idFileFront:
          type: string
          format: uuid
          description: fileId returned by **POST /v1/files/upload-url**
          example: 7a7f80a6-1665-4f64-9ef3-d5f90f8f309b
        idFileBack:
          type: string
          format: uuid
          description: Optional second side of the ID
          example: 7a7f80a6-1665-4f64-9ef3-d5f90f8f309b
    CreateFXQuoteRequest:
      type: object
      required:
        - from
        - to
      properties:
        from:
          type: string
          example: USD
        to:
          type: string
          example: PHP
    CreateBeneficiaryRequest:
      type: object
      required:
        - name
        - countryCode
        - currency
        - paymentDetails
        - kyc
      properties:
        name:
          type: string
          example: John Doe
        email:
          type: string
          format: email
          example: john.doe@example.com
        countryCode:
          type: string
          description: The country code of the beneficiary in ISO 3166-1 alpha-2 format
          example: KE
        currency:
          type: string
          description: The currency of the beneficiary in ISO 4217 format
          example: KES
        paymentDetails:
          $ref: '#/components/schemas/paymentDetails'
        kyc:
          $ref: '#/components/schemas/kycMinimal'
    Beneficiary:
      allOf:
        - $ref: '#/components/schemas/CreateBeneficiaryRequest'
        - type: object
          required:
            - id
            - createdTimestamp
            - lastUpdatedTimestamp
          properties:
            id:
              type: string
              format: uuid
              example: 7a7f80a6-1665-4f64-9ef3-d5f90f8f309b
            createdTimestamp:
              type: integer
              description: Unix timestamp when the beneficiary was created
              example: 1748478276
            lastUpdatedTimestamp:
              type: integer
              description: Unix timestamp when the beneficiary was last updated
              example: 1748478276
    meta:
      type: object
      description: Meta about the pagination
      properties:
        limit:
          type: number
          example: 1
        currentPage:
          type: number
          example: 1
        skipped:
          type: number
          example: 1
        pages:
          type: number
          example: 1
        itemCount:
          type: number
          example: 1
    address:
      type: object
      required:
        - line1
        - city
        - postalCode
        - state
        - countryCode
      properties:
        line1:
          type: string
          description: Address line 1
          example: Lane 1
        line2:
          type: string
          description: Address line 2
          example: Apt 1
        city:
          type: string
          description: The city of the address
          example: Gotham City
        postalCode:
          type: string
          description: The postal code
          example: '10001'
        state:
          type: string
          description: The state for the address
          example: NY
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: US
    paymentDetails:
      type: object
      required:
        - preferredMethod
      properties:
        preferredMethod:
          type: string
          enum:
            - momo
            - bank
            - swift
            - ach
            - wallet
            - crypto
            - proxy
          description: The preferred payment method type
          example: bank
        momo:
          $ref: '#/components/schemas/momoDetails'
        bank:
          $ref: '#/components/schemas/bankDetails'
        swift:
          $ref: '#/components/schemas/swiftDetails'
        ach:
          $ref: '#/components/schemas/achDetails'
        wallet:
          $ref: '#/components/schemas/walletDetails'
        cryptoWallet:
          $ref: '#/components/schemas/cryptoWalletDetails'
        proxy:
          $ref: '#/components/schemas/proxyDetails'
    proxyDetails:
      type: object
      properties:
        accountName:
          type: string
          description: The name associated with the proxy account
          example: John Doe
        ownerType:
          type: string
          description: The type of account owner (individual, business)
          example: individual
        type:
          type: string
          description: The type of proxy payment system
          example: pix
        value:
          type: string
          description: The proxy identifier value
          example: '+5511998765432'
        beneficiaryId:
          $ref: '#/components/schemas/beneficiaryId'
        address:
          $ref: '#/components/schemas/address'
        phoneNumber:
          $ref: '#/components/schemas/phoneNumber'
        email:
          type: string
          format: email
          description: The email address of the account holder
          example: john.doe@example.com
        currency:
          type: string
          description: The currency of the proxy account
          example: BRL
    momoDetails:
      type: object
      properties:
        accountName:
          type: string
          description: The name associated with the mobile money account
          example: John Doe
        provider:
          type: string
          description: The name of the mobile money provider
          example: MTN
        providerCode:
          type: string
          description: The code identifying the mobile money provider
          example: MTN
        phoneNumber:
          $ref: '#/components/schemas/phoneNumber'
        currency:
          type: string
          description: The currency of the mobile money account
          example: GHS
    bankDetails:
      type: object
      properties:
        accountName:
          type: string
          description: The name on the bank account
          example: John Doe
        accountNumber:
          type: string
          description: The bank account number
          example: '1234567890'
        accountType:
          type: string
          description: The type of bank account (e.g., Checking, Savings)
          example: Checking
        ownerType:
          type: string
          description: The type of account owner (e.g., individual, business)
          example: individual
        bankCode:
          type: string
          description: The bank identification code
          example: EXMPJPJT
        bankName:
          type: string
          description: The name of the bank
          example: Gotham City Bank
        branchName:
          type: string
          description: The name of the bank branch
          example: Downtown Branch
        sortCode:
          type: string
          description: The bank sort code (used in some countries like UK)
          example: '401234'
        iban:
          type: string
          description: The International Bank Account Number
          example: GB00000000000000000000
        provider:
          type: string
          description: The platform providing this account (e.g., wise)
          example: wise
        currency:
          type: string
          description: The currency of the bank account
          example: USD
        beneficiaryId:
          $ref: '#/components/schemas/beneficiaryId'
        address:
          $ref: '#/components/schemas/address'
        phoneNumber:
          $ref: '#/components/schemas/phoneNumber'
        email:
          type: string
          format: email
          description: The email address of the account holder
          example: john.doe@example.com
    swiftDetails:
      type: object
      required:
        - currency
        - iban
        - accountName
        - accountNumber
        - bankName
        - swiftCode
        - address
      properties:
        currency:
          type: string
          description: The currency of the bank account
          example: EUR
        iban:
          type: string
          description: The International Bank Account Number
          example: DE00000000000000000000
        accountName:
          type: string
          description: The name on the bank account
          example: John Doe
        accountNumber:
          type: string
          description: The bank account number
          example: '1234567890'
        bankName:
          type: string
          description: The name of the bank
          example: Example Bank
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: EXMPDEFF
        address:
          $ref: '#/components/schemas/address'
    achDetails:
      type: object
      properties:
        bankName:
          type: string
          description: The name of the bank
          example: Example Bank
        accountName:
          type: string
          description: The name on the bank account
          example: John Doe
        routingNumber:
          type: string
          description: The ACH routing number of the bank
          example: '000000000'
        accountNumber:
          type: string
          description: The bank account number
          example: '1234567890'
        accountType:
          type: string
          description: The type of bank account (Checking or Savings)
          example: Checking
        provider:
          type: string
          description: The platform providing this account (e.g., wise)
          example: wise
        address:
          $ref: '#/components/schemas/address'
    walletDetails:
      type: object
      properties:
        type:
          type: string
          description: The type of wallet account
          enum:
            - user
            - business
          example: user
        identifier:
          type: string
          description: The unique identifier for the wallet account
          example: 69a2a928-ed49-4e53-92ec-a72b4ee7eacc
        currency:
          type: string
          description: The currency of the wallet
          example: USD
    cryptoWalletDetails:
      type: object
      properties:
        address:
          type: string
          description: The cryptocurrency wallet address
          example: '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
        chain:
          type: string
          description: The blockchain network (eth, sol etc)
          example: ETH
        memo:
          type: string
          description: The memo/tag required for certain cryptocurrencies (e.g., XLM, XRP)
          example: '123456'
        type:
          type: string
          description: The type of cryptocurrency (BTC, USDC etc)
          example: USDC
    payoutDetails:
      type: object
      required:
        - accountName
        - accountNumber
        - providerCode
      properties:
        accountName:
          type: string
          description: The name on the account
          example: John Doe
        accountNumber:
          type: string
          description: The account number
          example: '123456789'
        providerCode:
          type: string
          description: The routing number or provider code
          example: '000000000'
        bankName:
          type: string
          description: The name of the bank (required for ACH)
          example: Gotham City Bank
        accountType:
          type: string
          enum:
            - Checking
            - Saving
          description: The type of account, either Checking or Saving
          example: Checking
        address:
          $ref: '#/components/schemas/address'
          description: The address of the account holder
        beneficiaryId:
          description: The ID of the account holder (required for specific corridors)
          $ref: '#/components/schemas/beneficiaryId'
        phoneNumber:
          description: The phone number of the account holder
          $ref: '#/components/schemas/phoneNumber'
        email:
          type: string
          format: email
          description: >-
            The email address of the beneficiary (required for specific
            corridors)
          example: john.doe@example.com
    phoneNumber:
      type: object
      required:
        - countryCode
        - number
      properties:
        countryCode:
          type: string
          description: The country code of the phone number
          example: '1'
        number:
          type: string
          example: '5551234567'
    beneficiaryId:
      type: object
      description: ID details for the beneficiary
      properties:
        type:
          type: string
          enum:
            - NIT
            - CC
            - CE
            - TI
            - PASS
          description: Type of beneficiary ID
          example: NIT
        value:
          type: string
          description: ID number of the beneficiary
          example: '123456789'
    UploadUrlRequest:
      type: object
      required:
        - purpose
        - contentType
      properties:
        purpose:
          type: string
          description: Logical reason for the upload
          enum:
            - kyc-id-front
            - kyc-id-back
            - kyc-selfie
            - kyc-id-selfie
            - kyb-incorporation-document
            - kyb-tax-certificate
            - kyb-address-proof
            - kyc-address-proof
            - reimbursements-proof
            - business-onboarding-document
            - contract
          example: kyc-id-front
        contentType:
          type: string
          description: MIME type that must be used in the PUT request
          example: image/jpeg
    Amount:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          type: integer
          description: Value in lowest denomination of the currency (e.g., cents)
          example: 100000
        currency:
          type: string
          description: ISO 4217 currency code
          example: COP
    CreatePayoutRequest:
      type: object
      required:
        - beneficiaryId
        - quoteId
        - amount
        - currency
      properties:
        beneficiaryId:
          type: string
          format: uuid
          example: c871b333-e129-409c-aabd-7cfb55a967cc
        quoteId:
          type: string
          format: uuid
          description: The unique identifier for the fx quote
          example: d35d2bd6-188b-4e82-9a16-71442dad7375
        amount:
          $ref: '#/components/schemas/Amount'
        reference:
          type: string
          description: The client reference for the payout
          example: '1234567890'
    Payout:
      type: object
      required:
        - id
        - beneficiaryId
        - quoteId
        - amount
        - sourceAmount
        - feeAmount
        - fxRate
        - status
        - reference
        - createdTimestamp
        - lastUpdatedTimestamp
      properties:
        id:
          type: string
          format: uuid
          example: d0137ede-7df1-4a54-8206-b3ab7b03876f
        beneficiaryId:
          type: string
          format: uuid
          example: c871b333-e129-409c-aabd-7cfb55a967cc
        quoteId:
          type: string
          format: uuid
          example: d35d2bd6-188b-4e82-9a16-71442dad7375
        reference:
          type: string
          description: The client reference for the payout
          example: payout-123
        amount:
          $ref: '#/components/schemas/Amount'
        sourceAmount:
          $ref: '#/components/schemas/Amount'
        feeAmount:
          $ref: '#/components/schemas/Amount'
        fxRate:
          type: string
          example: '4059.318355'
        status:
          type: string
          enum:
            - initiated
            - succeeded
            - processing
            - failed
          example: succeeded
        createdTimestamp:
          type: integer
          description: Unix timestamp when the payout was created
          example: 1748478276
        lastUpdatedTimestamp:
          type: integer
          description: Unix timestamp when the payout was last updated
          example: 1748478276
    Provider:
      type: object
      required:
        - code
        - name
        - countryCode
        - currency
        - type
      properties:
        code:
          type: string
          example: BR123
        name:
          type: string
          example: Nubank Brazil
        countryCode:
          type: string
          description: The country code in ISO 3166-1 alpha-2 format
          example: BR
        currency:
          type: string
          description: The currency in ISO 4217 format
          example: BRL
        type:
          type: string
          enum:
            - bank
            - momo
          example: bank
    ResolvedProvider:
      type: object
      required:
        - bankName
        - countryCode
      properties:
        bankName:
          type: string
          description: The name of the resolved bank or financial institution
          example: Itaú Unibanco
        countryCode:
          type: string
          description: The country code in ISO 3166-1 alpha-2 format
          example: BR
        city:
          type: string
          description: City of the bank branch (populated for SWIFT and ACH lookups)
          example: ''
        routingNumber:
          type: string
          description: ACH routing number (populated for ACH lookups)
          example: ''
        swiftCode:
          type: string
          description: SWIFT/BIC code (populated when available)
          example: ITAUBRSP
    PaymentMethod:
      type: object
      required:
        - type
        - currency
        - status
      properties:
        type:
          type: string
          description: The type of payment method
          enum:
            - bank
            - swift
            - proxy
            - momo
            - ach
          example: bank
        currency:
          type: string
          description: The currency in ISO 4217 format
          example: KES
        status:
          type: string
          description: The status of the payment method
          enum:
            - active
            - inactive
          example: active
    CustomIdentification:
      type: object
      required:
        - type
        - number
      properties:
        type:
          type: string
          enum:
            - ssn
            - bvn
          description: Type of identification
          example: ssn
        number:
          type: string
          description: The identification number
          example: 123-45-6789
    AccountInformation:
      type: object
      required:
        - accountNumber
        - accountName
        - bankName
        - bankCode
        - countryCode
        - accountType
        - routingNumber
        - bankAddress
      properties:
        accountNumber:
          type: string
          description: The virtual account number
          example: '000000000000'
        accountName:
          type: string
          description: The name on the account
          example: John Doe
        bankName:
          type: string
          description: The name of the bank
          example: Example Bank
        bankCode:
          type: string
          description: The bank identification code
          example: '000000000'
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: US
        accountType:
          type: string
          enum:
            - Checking
            - Savings
          description: The type of account
          example: Checking
        routingNumber:
          type: string
          description: The routing number for the account
          example: '000000000'
        bankAddress:
          type: string
          description: The address of the bank
          example: 123 Main St, San Francisco, CA 94100
    VirtualAccount:
      type: object
      required:
        - id
        - status
        - currency
        - createdTimestamp
        - lastUpdatedTimestamp
      properties:
        id:
          type: string
          format: uuid
          example: 3f70be8e-426f-4e89-b883-9c97a1c334d5
        status:
          type: string
          enum:
            - Requested
            - Approved
            - Rejected
            - Deactivated
          example: Requested
        currency:
          type: string
          example: USD
        accountInformation:
          $ref: '#/components/schemas/AccountInformation'
        createdTimestamp:
          type: integer
          description: Unix timestamp when the virtual account was created
          example: 1755693297
        lastUpdatedTimestamp:
          type: integer
          description: Unix timestamp when the virtual account was last updated
          example: 1755693297
    JobInformation:
      type: object
      required:
        - employerName
        - address
        - title
        - type
        - netPay
        - frequency
        - contractStartDate
      properties:
        employerName:
          type: string
          description: Name of the employer
          example: Tesla
        address:
          $ref: '#/components/schemas/address'
        employerWebsite:
          type: string
          description: Website of the employer (optional)
          example: ''
        title:
          type: string
          description: Job title
          example: Software Engineer
        type:
          type: string
          enum:
            - contract
            - full-time
            - part-time
          description: Type of employment
          example: full-time
        netPay:
          $ref: '#/components/schemas/Amount'
        frequency:
          type: string
          enum:
            - weekly
            - daily
            - monthly
            - hourly
          description: Payment frequency
          example: monthly
        contractStartDate:
          type: string
          format: date
          description: Start date of the contract
          example: '2021-01-01'
        contractEndDate:
          type: string
          format: date
          description: End date of the contract (optional)
          example: '2025-05-06'
    CreateVirtualAccountRequest:
      type: object
      required:
        - currency
        - jobInformation
      properties:
        currency:
          type: string
          description: ISO 4217 currency code for the virtual account
          example: USD
        customIdentification:
          $ref: '#/components/schemas/CustomIdentification'
        jobInformation:
          $ref: '#/components/schemas/JobInformation'
        suppressNotification:
          type: boolean
          description: >-
            Whether to suppress notifications for this virtual account, defaults
            to false
          example: true
    SimulateVirtualAccountDepositRequest:
      description: Simulate virtual account deposit payload
      required:
        - amount
        - reference
        - description
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        reference:
          $ref: '#/components/schemas/uuid'
        description:
          type: string
          example: Payroll 10/10
    Error:
      type: object
      properties:
        code:
          description: A machine parsable error code
          type: string
          enum:
            - invalid_request_body
            - resource_not_found
            - forbidden
            - internal_error
        message:
          description: A human readable message describing the error
          type: string
    BadRequestError:
      description: Bad input provided by client
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          properties:
            params:
              description: A map for meta data around the error that occurred
              type: object
      example:
        code: invalid_request_body
        message: The request body provided is not valid
        params:
          field: Value is invalid.
    NotFoundError:
      description: Not Found
      allOf:
        - $ref: '#/components/schemas/Error'
      example:
        code: resource_not_found
        message: Requested resource could not be found.
    InternalError:
      description: Internal server error
      allOf:
        - $ref: '#/components/schemas/Error'
      example:
        code: internal_error
        message: An unexpected error occurred. Please try again later.
    FileDetails:
      type: object
      required:
        - fileId
        - purpose
        - getUrl
        - expiresIn
        - createdAt
        - tenantKey
      properties:
        fileId:
          type: string
          format: uuid
          example: 1d3f870c-bc91-4636-a0d4-8e54bccf7d64
        purpose:
          type: string
          description: Logical reason for the upload
          enum:
            - kyc-id-front
            - kyc-id-back
            - kyc-selfie
            - kyc-id-selfie
            - kyb-incorporation-document
            - kyb-tax-certificate
            - kyb-address-proof
            - kyc-address-proof
            - reimbursements-proof
            - business-onboarding-document
            - contract
          example: kyc-id-front
        getUrl:
          type: string
          format: uri
          description: Pre-signed HTTPS GET URL (single-use)
        expiresIn:
          type: integer
          description: Seconds until the URL expires
          example: 899
        createdAt:
          type: integer
          description: Unix timestamp when the file was created
          example: 1748478276
        tenantKey:
          type: string
          description: Tenant key associated with the file
          example: cad65668351
    FundingDetails:
      type: object
      required:
        - type
        - currency
      properties:
        type:
          type: string
          enum:
            - ach
            - wire
            - iban
            - bank
            - swift
            - crypto
          description: The type of funding method
          example: ach
        currency:
          type: string
          description: ISO 4217 currency code
          example: USD
        accountName:
          type: string
          description: Name on the account
          example: Acme Corp
        accountNumber:
          type: string
          description: Account number (for ACH, bank, wire) or IBAN (for iban type)
          example: '123456789'
        routingNumber:
          type: string
          description: Routing number (for ACH, bank, wire)
          example: '000000000'
        bankName:
          type: string
          description: Name of the bank
          example: Example Bank
        accountType:
          type: string
          enum:
            - Checking
            - Savings
          description: Type of account (for ACH, bank)
          example: Checking
        swiftCode:
          type: string
          description: SWIFT/BIC code (for iban, swift types)
          example: EXMPGB2L
        country:
          type: string
          description: Country code (for iban type)
          example: GB
        address:
          type: string
          description: Crypto wallet address (for crypto type)
          example: '0x742d35Cc6634C0532925a3b844Bc454e4438f44e'
        chain:
          type: string
          description: Blockchain chain (for crypto type)
          example: ETH
        cryptoType:
          type: string
          description: Type of cryptocurrency (for crypto type)
          example: USDC
        memo:
          type: string
          description: Memo or reference (for crypto type)
          example: '123456'
    node:
      type: object
      description: Node pagination
      properties:
        previous:
          type: string
          nullable: true
          example: null
        next:
          type: string
          nullable: true
          example: ca_123
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: API_SECRET_KEY
  parameters:
    beneficiaryId:
      name: beneficiaryId
      in: path
      description: The unique identifier for the beneficiary
      required: true
      schema:
        type: string
        format: uuid
        example: c06f3427-3bbe-4d70-9a54-28acda267e48
    payoutId:
      name: payoutId
      in: path
      description: The unique identifier for the payout
      required: true
      schema:
        type: string
        format: uuid
        example: c06f3427-3bbe-4d70-9a54-28acda267e48
    userId:
      name: userId
      in: path
      description: The unique identifier for the user
      required: true
      schema:
        type: string
        format: uuid
        example: c06f3427-3bbe-4d70-9a54-28acda267e48
    businessId:
      name: businessId
      in: path
      description: The unique identifier for the business
      required: true
      schema:
        type: string
    XMultiTenantKey:
      name: X-MultiTenantKey
      in: header
      required: false
      schema:
        type: string
      description: >-
        Required when using a Platform API token. The tenant key identifying
        which business to operate on.
    virtualAccountId:
      name: virtualAccountId
      in: path
      description: The unique identifier for the virtual account
      required: true
      schema:
        type: string
        format: uuid
        example: c06f3427-3bbe-4d70-9a54-28acda267e48
  responses:
    GetFileDetailsResponse:
      description: Get file details and download URL
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileDetails'
          examples:
            success:
              summary: Successful file details fetch
              value:
                fileId: 1d3f870c-bc91-4636-a0d4-8e54bccf7d64
                purpose: kyc-id-front
                getUrl: https://url
                expiresIn: 899
                createdAt: 1748478276
                tenantKey: abc123
    CreateBeneficiaryResponse:
      description: Beneficiary created response
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                example: 0a8753af-7f6b-4bc0-b144-7deea6c7ff1e
          example:
            id: 7a7f80a6-1665-4f64-9ef3-d5f90f8f309b
    GetBeneficiariesResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Beneficiary'
              node:
                $ref: '#/components/schemas/node'
          examples:
            colombia:
              summary: Single Colombia beneficiary
              value:
                data:
                  - id: 30e06567-9fa9-48b0-bf67-c54eb49e8b03
                    tenantKey: cad65668351
                    businessId: 186ea4c2-b606-4f13-a2b3-5cca8564c17e
                    name: John Doe
                    countryCode: CO
                    currency: COP
                    paymentDetails:
                      preferredMethod: bank
                      bank:
                        accountName: John Doe
                        accountNumber: '123456789'
                        accountType: Checking
                        bankCode: EXMPCOBB
                        bankName: Colombia Bank
                        branchName: ''
                        beneficiaryId:
                          type: NIT
                          value: '123456789'
                        address:
                          line1: Avenida Caracas
                          line2: ''
                          city: Bogota
                          postalCode: ''
                          state: ''
                          countryCode: CO
                        email: john.doe@example.com
                    kyc:
                      firstName: John
                      lastName: Doe
                      dateOfBirth: '1985-12-20'
                      countryCode: CO
                      idType: PASSPORT
                      idNumber: PA1234567
                      idFileFront: 1d3f870c-bc91-4636-a0d4-8e54bccf7d64
                      idFileBack: ''
                    createdTimestamp: 1748550207
                    lastUpdatedTimestamp: 1748550207
                node:
                  previous: null
                  next: null
    GetBeneficiaryResponse:
      description: Get beneficiary response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Beneficiary'
          examples:
            colombia:
              summary: Single Colombia beneficiary
              value:
                id: 30e06567-9fa9-48b0-bf67-c54eb49e8b03
                tenantKey: cad65668351
                businessId: 186ea4c2-b606-4f13-a2b3-5cca8564c17e
                name: John Doe
                countryCode: CO
                currency: COP
                paymentDetails:
                  preferredMethod: bank
                  bank:
                    accountName: John Doe
                    accountNumber: '123456789'
                    accountType: Checking
                    bankCode: EXMPCOBB
                    bankName: Colombia Bank
                    branchName: ''
                    beneficiaryId:
                      type: NIT
                      value: '123456789'
                    address:
                      line1: Avenida Caracas
                      line2: ''
                      city: Bogota
                      postalCode: ''
                      state: ''
                      countryCode: CO
                    email: john.doe@example.com
                kyc:
                  firstName: John
                  lastName: Doe
                  dateOfBirth: '1985-12-20'
                  countryCode: CO
                  idType: PASSPORT
                  idNumber: PA1234567
                  idFileFront: 1d3f870c-bc91-4636-a0d4-8e54bccf7d64
                  idFileBack: ''
                createdTimestamp: 1748550207
                lastUpdatedTimestamp: 1748550207
    CreatePayoutRespone:
      description: Payout Created Response
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                example: d0137ede-7df1-4a54-8206-b3ab7b03876f
          examples:
            payout:
              summary: Example payout creation response
              value:
                id: d0137ede-7df1-4a54-8206-b3ab7b03876f
    GetPayoutResponse:
      description: Get payout response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Payout'
          examples:
            payout:
              summary: Example payout response
              value:
                id: d0137ede-7df1-4a54-8206-b3ab7b03876f
                beneficiaryId: c871b333-e129-409c-aabd-7cfb55a967cc
                quoteId: d35d2bd6-188b-4e82-9a16-71442dad7375
                amount:
                  amount: 500000
                  currency: PHP
                sourceAmount:
                  amount: 900
                  currency: USD
                feeAmount:
                  amount: 10
                  currency: USD
                fxRate: '56.1234'
                reference: payout-123
                status: succeeded
                createdTimestamp: 1748478276
                lastUpdatedTimestamp: 1748478276
    GetPayoutsResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Payout'
              node:
                $ref: '#/components/schemas/node'
    GetProvidersResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Provider'
    GetPaymentMethodsResponse:
      description: Available payment methods, one entry per country matching the query
      content:
        application/json:
          schema:
            type: array
            items:
              type: object
              required:
                - country
                - paymentMethods
              properties:
                country:
                  type: string
                  description: The country code in ISO 3166-1 alpha-2 format
                  example: BR
                countryName:
                  type: string
                  description: The country's display name
                  example: Brazil
                paymentMethods:
                  type: array
                  items:
                    $ref: '#/components/schemas/PaymentMethod'
          examples:
            brazilPaymentMethods:
              $ref: '#/components/examples/brazilPaymentMethods'
    GetBalancesResponse:
      description: get wallet balances
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/balance'
    ResolveCodeResponse:
      description: Resolved bank provider details
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResolvedProvider'
          examples:
            bankCodeLookup:
              summary: Bank code lookup (BRL)
              value:
                bankName: Itaú Unibanco
                countryCode: BR
                city: ''
                routingNumber: ''
                swiftCode: ITAUBRSP
            swiftCodeLookup:
              summary: SWIFT code lookup (MXN)
              value:
                bankName: Banco Nacional de Mexico S.A.
                countryCode: MX
                city: Mexico City
                routingNumber: ''
                swiftCode: BNMXMXMM
            achLookup:
              summary: ACH routing number lookup (USD)
              value:
                bankName: JPMorgan Chase
                countryCode: US
                city: Tampa
                routingNumber: '021000021'
                swiftCode: CHASUS33
    CreateFXQuoteResponse:
      description: create an fx quote
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/fxQuote'
          examples:
            fxQuote:
              summary: Example FX Quote
              value:
                id: 57c74c5d-38a0-41e7-a19e-161f16dc4898
                from: USD
                to: PHP
                rate: '56.1234'
                expirationTimestamp: '2025-05-29T21:42:52Z'
    UploadUrlResponse:
      description: Pre-signed PUT URL and file identifier
      content:
        application/json:
          schema:
            type: object
            required:
              - fileId
              - putUrl
              - expiresIn
            properties:
              fileId:
                type: string
                format: uuid
                example: 517075a2-17db-469f-9481-eb8347cb920c
              putUrl:
                type: string
                format: uri
                description: Pre-signed HTTPS URL (single-use)
              expiresIn:
                type: integer
                description: Seconds until the URL expires
                example: 900
          examples:
            success:
              summary: Successful reservation
              value:
                fileId: 517075a2-17db-469f-9481-eb8347cb920c
                putUrl: >-
                  https://cadana-kyc.s3.amazonaws.com/tmp/file_9c52fa2e
                  ?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=…
                expiresIn: 900
    BadRequestError:
      description: Bad input provided by client
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
    NotFoundError:
      description: Requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
    InternalError:
      description: Internal error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalError'
    GetFundingDetailsResponse:
      description: Funding details for the account
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FundingDetails'
          examples:
            us_ach:
              summary: US ACH funding details
              value:
                type: us_ach
                currency: USD
                details:
                  accountName: Acme Corp
                  accountNumber: '123456789'
                  routingNumber: '000000000'
                  bankName: Example Bank
                  accountType: Checking
            iban:
              summary: IBAN funding details
              value:
                type: iban
                currency: EUR
                details:
                  accountName: Acme Corp
                  iban: DE00000000000000000000
                  swiftCode: EXMPDEFF
                  bankName: Example Bank
                  country: DE
    GetVirtualAccountsResponse:
      description: Virtual accounts retrieved successfully
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                nullable: true
                items:
                  $ref: '#/components/schemas/VirtualAccount'
              node:
                $ref: '#/components/schemas/node'
          examples:
            requested:
              summary: Virtual account in requested status
              value:
                data:
                  - id: 3f70be8e-426f-4e89-b883-9c97a1c334d5
                    status: Requested
                    currency: USD
                    createdTimestamp: 1755693297
                    lastUpdatedTimestamp: 1755693297
                node:
                  previous: null
                  next: null
            approved:
              summary: Virtual account in approved status with account information
              value:
                data:
                  - id: dba72ddb-6bb5-465b-a9db-318b8f4567e6
                    status: Approved
                    currency: USD
                    accountInformation:
                      accountNumber: '000000000000'
                      accountName: John Doe
                      bankName: Example Bank
                      bankCode: '000000000'
                      countryCode: US
                      accountType: Checking
                      routingNumber: '000000000'
                      bankAddress: 123 Main St, San Francisco, CA 94100
                    createdTimestamp: 1660722175
                    lastUpdatedTimestamp: 1751891253
                node:
                  previous: null
                  next: null
            empty:
              summary: No virtual accounts exist
              value:
                data: null
                node:
                  previous: null
                  next: null
  examples:
    philippinesBankPaymentMethod:
      summary: Philippines Bank Payment Method
      value:
        name: John Doe
        email: john.doe@example.com
        countryCode: PH
        currency: PHP
        kyc:
          firstName: John
          lastName: Doe
          dateOfBirth: '1985-12-20'
          countryCode: PH
          idType: PASSPORT
          idNumber: PA1234567
          idFileFront: 517075a2-17db-469f-9481-eb8347cb920c
        paymentDetails:
          preferredMethod: bank
          bank:
            accountName: John Doe
            accountNumber: '123456789'
            bankName: Philippines Bank
            bankCode: '001'
            address:
              line1: Mabini St
              line2: Bldg 2
              city: Manila
              postalCode: '1000'
              countryCode: PH
    colombiaBankPaymentMethod:
      summary: Colombia Bank Payment Method
      value:
        name: John Doe
        countryCode: CO
        currency: COP
        kyc:
          firstName: John
          lastName: Doe
          dateOfBirth: '1985-12-20'
          countryCode: CO
          idType: PASSPORT
          idNumber: PA1234567
          idFileFront: 517075a2-17db-469f-9481-eb8347cb920c
        paymentDetails:
          preferredMethod: bank
          bank:
            accountName: John Doe
            accountNumber: '123456789'
            bankName: Colombia Bank
            accountType: Checking
            bankCode: '001'
            email: john.doe@example.com
            address:
              line1: Avenida Caracas
              line2: Oficina 101
              city: Bogota
              postalCode: '11001'
              countryCode: CO
            beneficiaryId:
              type: NIT
              value: '123456789'
    mexicoBankPaymentMethod:
      summary: Mexico Bank Payment Method
      value:
        name: John Doe
        email: john.doe@example.com
        countryCode: MX
        currency: MXN
        kyc:
          firstName: John
          lastName: Doe
          dateOfBirth: '1985-12-20'
          countryCode: MX
          idType: PASSPORT
          idNumber: PA1234567
          idFileFront: 517075a2-17db-469f-9481-eb8347cb920c
        paymentDetails:
          preferredMethod: bank
          bank:
            accountName: John Doe
            accountNumber: '123456789012345678'
            bankName: Mexico Bank
            bankCode: '001'
    elSalvadorBankPaymentMethod:
      summary: El Salvador Bank Payment Method
      value:
        name: John Doe
        email: john.doe@example.com
        countryCode: SV
        currency: USD
        kyc:
          firstName: John
          lastName: Doe
          dateOfBirth: '1985-12-20'
          countryCode: SV
          idType: PASSPORT
          idNumber: PA1234567
          idFileFront: 517075a2-17db-469f-9481-eb8347cb920c
        paymentDetails:
          preferredMethod: bank
          bank:
            accountName: John Doe
            accountNumber: '123456789'
            bankName: El Salvador Bank
            bankCode: '001'
            email: john.doe@example.com
            address:
              line1: Calle Real
              line2: Casa 5
              city: San Salvador
              postalCode: '1200'
              countryCode: SV
            phoneNumber:
              countryCode: '503'
              number: '70000000'
    momoPaymentMethod:
      summary: Mobile Money Payment Method
      value:
        name: John Doe
        email: john.doe@example.com
        countryCode: KE
        currency: KES
        paymentDetails:
          preferredMethod: momo
          momo:
            accountName: John Doe
            accountNumber: '+256123456789'
            providerCode: MPESA
    brazilPaymentMethods:
      summary: Brazil Payment Methods
      value:
        - country: BR
          countryName: Brazil
          paymentMethods:
            - type: bank
              currency: BRL
              status: active
            - type: proxy
              currency: BRL
              status: active
            - type: swift
              currency: USD
              status: active
    coBankSchema:
      summary: Colombia - bank payment method schema
      value:
        $schema: http://json-schema.org/draft-07/schema#
        $id: https://api.cadana.com/schemas/paymentDetails.bank.CO.json
        title: Colombia - bank payment details
        type: object
        additionalProperties: false
        required:
          - accountName
          - accountNumber
          - bankCode
          - bankName
          - accountType
          - beneficiaryId
          - address
          - email
        properties:
          accountName:
            type: string
            maxLength: 60
          accountNumber:
            type: string
            pattern: ^[0-9]{9,16}$
            description: 9-16-digit Colombian account number
          bankCode:
            type: string
            pattern: ^[A-Za-z0-9]{1,11}$
            description: 1-11 alphanumeric bank code
          accountType:
            type: string
            enum:
              - Checking
              - Saving
          email:
            type: string
            format: email
            maxLength: 100
          beneficiaryId:
            type: object
            additionalProperties: false
            required:
              - type
              - value
            properties:
              type:
                type: string
                enum:
                  - NIT
                  - CC
                  - CE
                  - TI
                  - PASS
              value:
                type: string
            allOf:
              - if:
                  properties:
                    type:
                      const: NIT
                then:
                  properties:
                    value:
                      pattern: ^\d{9,11}$
              - if:
                  properties:
                    type:
                      const: CC
                then:
                  properties:
                    value:
                      pattern: ^\d{6,10}$
          address:
            type: object
            additionalProperties: false
            required:
              - line1
              - city
              - countryCode
            properties:
              line1:
                type: string
                maxLength: 70
              city:
                type: string
                maxLength: 50
              countryCode:
                const: CO
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
