openapi: 3.0.0
info:
  description: APIs for interacting with Cadana Payroll Platform
  version: 1.0.0
  title: Business Workforce Management
  termsOfService: https://cadanapay.com/terms-and-conditions
  contact:
    email: api@cadanapay.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.cadanapay.com
    description: Prod Server
  - url: https://dev-api.cadanapay.com
    description: Dev Server
security:
  - Authorization: []
tags:
  - name: Custom Auth
    description: APIs for interacting with Custom Authentication
  - name: Persons
    description: APIs for interacting with the HR module
  - name: Milestones
    description: APIs for milestone-based contractor pay
  - name: Instant Pay
    description: APIs for interacting with Instant Pay functionality
  - name: Users
    description: APIs for interacting with employee/contractor Cadana accounts
  - name: Files
    description: APIs for interacting with file uploads
  - name: Payrolls
    description: APIs for interacting with Payroll
  - name: Platform
    description: Platform APIs for interacting with businesses
  - name: Businesses
    description: APIs for interacting with Business
  - name: Treasury
    description: APIs for business balances, funding, and withdrawals
  - name: KYB
    description: APIs for business verification
  - name: Contracts
    description: APIs for interacting with contracts
  - name: Sandbox
    description: APIs for relevant sandbox simulations
  - name: Invoices
    description: APIs for interacting with invoices
  - name: Reimbursements
    description: APIs for interacting with reimbursements
  - name: Entities
    description: APIs for managing legal sub-entities (subsidiaries, branches) under a parent business
paths:
  /v1/persons/{personId}:
    get:
      summary: Get
      description: Fetch a person's details
      operationId: getPerson
      tags:
        - Persons
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetPersonResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons:
    get:
      summary: List
      description: Get all persons
      operationId: getPersons
      tags:
        - Persons
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
          description: Page number to retrieve
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Maximum number of items to return per page
        - in: query
          name: email
          schema:
            type: string
          description: Filter by email
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetPersonsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    post:
      summary: Create
      description: Create a new employee/contractor
      operationId: createPerson
      tags:
        - Persons
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePersonRequest"
      responses:
        "200":
          $ref: "#/components/responses/CreatePersonResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
  /v1/persons/{personId}/basicInfo:
    put:
      summary: Update basic information
      description: Update a person's basic information
      operationId: updatePersonBasicInfo
      tags:
        - Persons
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePersonBasicInfoRequest"
      responses:
        "204":
          description: Successful operation
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons/{personId}/personalInfo:
    put:
      summary: Update personal information
      description: Update a person's personal information including identity documents, date of birth, gender, nationality, and address
      operationId: updatePersonPersonalInfo
      tags:
        - Persons
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePersonPersonalInfoRequest"
      responses:
        "204":
          description: Successful operation
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons/{personId}/taxProfile:
    get:
      summary: Get tax profile
      description: Retrieve a person's tax profile. Returns the shape accepted by PUT /v1/persons/{personId}/taxProfile plus a server-derived `countryCode` field — remove `countryCode` before resubmitting via PUT.
      operationId: getPersonTaxProfile
      tags:
        - Persons
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPersonTaxProfileResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    put:
      summary: Update tax profile
      description: Update a person's tax profile with country-specific tax fields such as marital status and number of dependents
      operationId: updatePersonTaxProfile
      tags:
        - Persons
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePersonTaxProfileRequest"
      responses:
        "204":
          description: Successful operation
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons/{personId}/jobInfo:
    put:
      summary: Update job information
      description: Update a person's job information
      operationId: updatePersonJobInfo
      tags:
        - Persons
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePersonJobInfoRequest"
      responses:
        "204":
          description: Successful operation
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons/{personId}/paymentInfo:
    get:
      summary: Get payment information
      description: Fetch a person's payment information
      operationId: getPersonPaymentInfo
      tags:
        - Persons
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetPersonPaymentInfoResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    put:
      summary: Update payment information
      description: >-
        Update a person's payment information. Required fields vary by payout
        corridor — use [GET /v1/payment-requirements](/api-reference/payments/resources/payment-corridor-requirements)
        as the authoritative list of fields for each currency and method.
      operationId: updatePersonPaymentInfo
      tags:
        - Persons
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePersonPaymentInfoRequest"
            examples:
              achPayment:
                $ref: "#/components/examples/achPaymentMethod"
              swiftPayment:
                $ref: "#/components/examples/swiftPaymentMethod"
              philippinesBankPayment:
                $ref: "#/components/examples/philippinesBankPaymentMethod"
              indiaBankPayment:
                $ref: "#/components/examples/indiaBankPaymentMethod"
              mexicoBankPayment:
                $ref: "#/components/examples/mexicoBankPaymentMethod"
              colombiaBankPayment:
                $ref: "#/components/examples/colombiaBankPaymentMethod"
              elSalvadorBankPayment:
                $ref: "#/components/examples/elSalvadorBankPaymentMethod"
              walletRequest:
                $ref: "#/components/examples/walletPaymentMethod"
      responses:
        "204":
          description: Successful operation
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons/{personId}/ipSetting:
    put:
      summary: Update instant pay setting
      description: Update a person's instant pay setting
      operationId: updatePersonIPSetting
      tags:
        - Instant Pay
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePersonIPSettingRequest"
      responses:
        "204":
          description: Successful operation
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    get:
      summary: Get instant pay setting
      description: Fetch a person's instant pay setting
      operationId: getPersonIPSetting
      tags:
        - Instant Pay
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetPersonIPSettingResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons/{personId}/instantPays:
    get:
      summary: Get instant pay transactions
      description: Fetch a person's instant pay transactions
      operationId: getPersonIPTransactions
      tags:
        - Instant Pay
      parameters:
        - $ref: "#/components/parameters/personId"
        - in: query
          name: isUnpaid
          schema:
            type: boolean
          description: Only return transactions that have not been paid back
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetPersonInstantPaysResponse"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons/{personId}/offboard:
    post:
      summary: Schedule offboarding
      description: Schedule a person for offboarding on a given exit date
      operationId: scheduleOffboarding
      tags:
        - Persons
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleOffboardingRequest"
      responses:
        "204":
          description: Offboarding scheduled successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons/{personId}/cancelOffboarding:
    post:
      summary: Cancel offboarding
      description: Cancel a pending offboarding and return the person to active status
      operationId: cancelOffboarding
      tags:
        - Persons
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "204":
          description: Offboarding cancelled successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons/{personId}/reinstate:
    post:
      summary: Reinstate
      description: Reinstate a former person back to active status
      operationId: reinstatePerson
      tags:
        - Persons
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "204":
          description: Person reinstated successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons/{personId}/type:
    put:
      summary: Update person type
      description: Switch a person's employment type between employee and contractor. The person must be in Active status. Optionally provide new compensation info. If omitted, incompatible compensation is auto-converted (salaried becomes net, fixed becomes net).
      operationId: updatePersonType
      tags:
        - Persons
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePersonTypeRequest"
      responses:
        "204":
          description: Person type updated successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons/{personId}/milestones:
    get:
      summary: List milestones
      description: List a milestone-type contractor's milestones. Set `includeDocuments=true` to receive presigned document download URLs.
      operationId: getPersonMilestones
      tags:
        - Milestones
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
        - name: includeDocuments
          in: query
          required: false
          description: When true, each milestone's documents are returned as presigned download URLs
          schema:
            type: boolean
            default: false
      responses:
        "200":
          $ref: "#/components/responses/GetMilestonesResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    post:
      summary: Add milestone
      description: Add a milestone (deliverable) to a milestone-type contractor. `documentIds` are file ids from the upload-url flow (POST /v1/files/upload-url with purpose `milestone-document`).
      operationId: addPersonMilestone
      tags:
        - Milestones
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddMilestoneRequest"
      responses:
        "200":
          $ref: "#/components/responses/CreateMilestoneResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons/{personId}/milestones/{milestoneId}:
    put:
      summary: Update milestone
      description: Update a planned milestone. `documentIds` are file ids from the upload-url flow and replace the milestone's documents.
      operationId: updatePersonMilestone
      tags:
        - Milestones
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/milestoneId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMilestoneRequest"
      responses:
        "204":
          description: Milestone updated successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    delete:
      summary: Delete milestone
      description: Delete a planned milestone.
      operationId: deletePersonMilestone
      tags:
        - Milestones
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/milestoneId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "204":
          description: Milestone deleted successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/persons/{personId}/milestones/{milestoneId}/complete:
    post:
      summary: Complete milestone
      description: Mark a planned or rejected milestone complete. Generates a contractor invoice and returns its `invoiceId`, and moves the milestone to `Submitted`. As that invoice is approved, rejected, or paid, the milestone status updates to match.
      operationId: completePersonMilestone
      tags:
        - Milestones
      parameters:
        - $ref: "#/components/parameters/personId"
        - $ref: "#/components/parameters/milestoneId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/CreateMilestoneResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/auth/login/jwt:
    post:
      summary: JWT
      description: Exchange your internal JWT to a cadana redirect token
      operationId: exchangeJwtToken
      tags:
        - Custom Auth
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExchangeJWTRequest"
      responses:
        "200":
          $ref: "#/components/responses/ExchangeJWTResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/users/{userId}/sub:
    put:
      summary: Attach a custom sub
      description: Append your external token subject to cadana user
      operationId: updateUserSubject
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserSubjectRequest"
      responses:
        "204":
          description: The user subject was attached, now you can log in with your external JWT
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/users/admins:
    post:
      summary: Add Admin
      description: Add an admin to the business account
      operationId: addAdminUser
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddAdminUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/AddAdminUserResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
  /v1/users/admins/{userId}:
    delete:
      summary: Remove Admin
      description: Remove an admin from the business account
      operationId: removeAdminUser
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "204":
          description: Successful operation
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/users/invite:
    post:
      summary: Invite
      description: Create a user for the associated person record
      operationId: inviteUser
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteUserRequest"
      responses:
        "200":
          $ref: "#/components/responses/InviteUserResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
  /v1/users:
    get:
      summary: List
      description: Get all users
      operationId: getUsers
      tags:
        - Users
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
          description: Page number to retrieve
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Maximum number of items to return per page
        - in: query
          name: personId
          schema:
            type: string
          description: Filter by person ID
        - in: query
          name: email
          schema:
            type: string
          description: Filter by email
        - in: query
          name: includeStatus
          schema:
            type: string
          description: Toggle including user status in the response
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetUsersResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/users/{userId}:
    get:
      summary: Get
      description: Fetch a user's details
      operationId: getUser
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetUserResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/users/{userId}/kyc:
    get:
      summary: Get KYC
      description: Fetch a user's kyc details
      operationId: getUserKYC
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetUserKYCResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    post:
      summary: Submit KYC
      description: Submit Know Your Customer (KYC) information for verification
      operationId: submitUserKYC
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KYCRequest"
            examples:
              userKycSubmission:
                summary: User KYC submission example
                value:
                  firstName: John
                  lastName: Doe
                  dob: "1990-01-15"
                  nationality: US
                  address:
                    line1: 123 Main Street
                    line2: Apt 101
                    city: Anytown
                    postalCode: "12345"
                    state: NY
                    countryCode: US
                  idDetails:
                    type: passport
                    number: "123456789"
                    issuedCountryCode: US
                    issuedBy: Department of State
                    issuedDate: "2020-01-15"
                    expirationDate: "2030-01-15"
                    frontFileId: 1d3f870c-bc91-4636-a0d4-8e54bccf7d64
                    backFileId: 2e4a981d-cd02-4747-b29d-3f65dd8e7d75
                    selfieFileId: 3f5b092e-de13-4858-a40e-4c76ee9f8e86
                  addressProofFileId: 4a6b103f-ef24-4969-b51f-5d87ff0a9f97
      responses:
        "204":
          description: KYC information submitted successfully
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    patch:
      summary: Resubmit KYC
      description: Resubmit KYC identity and/or address information after rejection. Identity can only be resubmitted when status is rejected. Address can only be resubmitted when status is not started or rejected.
      operationId: resubmitUserKYC
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchKYCRequest"
            examples:
              identityResubmission:
                summary: Resubmit identity only
                value:
                  identity:
                    firstName: John
                    lastName: Doe
                    dob: "1990-01-15"
                    nationality: US
                    idDetails:
                      type: passport
                      number: "123456789"
                      issuedCountryCode: US
                      issuedBy: Department of State
                      issuedDate: "2020-01-15"
                      expirationDate: "2030-01-15"
                      frontFileId: 1d3f870c-bc91-4636-a0d4-8e54bccf7d64
                      backFileId: 2e4a981d-cd02-4747-b29d-3f65dd8e7d75
                      selfieFileId: 3f5b092e-de13-4858-a40e-4c76ee9f8e86
              addressResubmission:
                summary: Resubmit address only
                value:
                  address:
                    address:
                      line1: 123 Main Street
                      line2: Apt 101
                      city: Anytown
                      postalCode: "12345"
                      state: NY
                      countryCode: US
                    addressProofFileId: 4a6b103f-ef24-4969-b51f-5d87ff0a9f97
      responses:
        "204":
          description: KYC resubmission accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/users/{userId}/balances:
    get:
      summary: Get Balances
      description: Get a user's wallet balances
      operationId: getUserBalances
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetBalancesResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/users/{userId}/tax-forms:
    get:
      summary: Tax Forms
      description: Get a user's tax form
      operationId: getUserTaxForms
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetUserTaxFormsResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/users/{userId}/tax-forms/{formId}/download:
    get:
      summary: Tax Form Download
      description: Get a download link to a users's tax form
      operationId: getUserTaxFormLink
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/formId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetUserTaxFormLinkResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/files/upload-url:
    post:
      summary: Create upload URL
      description:
        "Reserve a file ID and receive a short-lived HTTPS **PUT** URL.

        After the client uploads the bytes to that URL, it can reference

        `fileId` in later API calls (e.g. Beneficiary creation KYC).

        "
      tags:
        - Files
      security:
        - Authorization: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadUrlRequest"
            examples:
              kycFront:
                summary: JPEG passport front
                value:
                  purpose: kyc-id-front
                  contentType: image/jpeg
      responses:
        "200":
          $ref: "#/components/responses/UploadUrlResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
  /v1/files/{fileId}:
    get:
      summary: Get file details
      description: Get details and a download URL for a file by its fileId
      tags:
        - Files
      security:
        - Authorization: []
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the file
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetFileDetailsResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
  /v1/payrolls:
    post:
      summary: Create
      description: Create a new payroll
      operationId: createPayroll
      tags:
        - Payrolls
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePayrollRequest"
      responses:
        "200":
          $ref: "#/components/responses/CreatePayrollResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
    get:
      summary: List
      description: Fetch all payrolls
      operationId: retrievePayrolls
      tags:
        - Payrolls
      responses:
        "200":
          $ref: "#/components/responses/GetPayrollsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
      security:
        - Authorization: []
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
  /v1/payrolls/{payrollId}/save:
    post:
      summary: Save
      description: Save a payroll
      operationId: savePayroll
      tags:
        - Payrolls
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SavePayroll"
            example:
              payrollDate: "2026-03-01"
              payPeriod:
                fromDate: "2026-02-01"
                toDate: "2026-02-28"
              entries:
                - personId: 8ab2ba37-3c37-485d-9af9-122d11c96bf9
                  salary:
                    amount: 500000
                    currency: USD
                - personId: ca49c55b-12c7-4085-8a0d-ebd006ed8002
                  salary:
                    amount: 375000
                    currency: USD
      parameters:
        - $ref: "#/components/parameters/payrollId"
        - in: query
          name: includeFxRates
          required: false
          schema:
            type: boolean
            default: false
          description: >
            When `true`, the response is `200 OK` with the captured FX rates
            in the body, keyed as `<funding>-<salary>` currency pairs. Any
            other value (or omitting the parameter) returns `204 No Content`.
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          description: >
            FX rates captured at save time. Returned only when
            `includeFxRates=true`. Keys are `<funding>-<salary>` currency
            pairs; each value is the number of salary-currency units per unit
            of funding currency. Salary-currency amounts are divided by the
            rate to get the funding-currency debit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  fxRates:
                    type: object
                    description: >
                      Map of `<funding>-<salary>` currency pair to the captured rate.
                    additionalProperties:
                      type: number
                example:
                  fxRates:
                    USD-PHP: 58.75
                    USD-EUR: 0.9217
        "204":
          description: Successful operation. Default response when `includeFxRates` is omitted or not `true`.
        "400":
          $ref: "#/components/responses/BadRequestError"
      security:
        - Authorization: []
  /v1/payrolls/{payrollId}:
    get:
      summary: Get
      description: Fetch a payroll's details
      operationId: getPayroll
      tags:
        - Payrolls
      parameters:
        - $ref: "#/components/parameters/payrollId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetPayrollResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
      security:
        - Authorization: []
    delete:
      summary: Delete
      description: Delete a payroll. Cannot delete payrolls in Processing or Completed status.
      operationId: deletePayroll
      tags:
        - Payrolls
      parameters:
        - $ref: "#/components/parameters/payrollId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "204":
          description: Successful operation
        "400":
          $ref: "#/components/responses/BadRequestError"
      security:
        - Authorization: []
  /v1/payrolls/{payrollId}/approve:
    post:
      summary: Approve
      description: Approve a payroll
      operationId: approvePayroll
      tags:
        - Payrolls
      parameters:
        - $ref: "#/components/parameters/payrollId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "204":
          description: Successful operation
        "400":
          $ref: "#/components/responses/BadRequestError"
      security:
        - Authorization: []
  /v1/payrolls/{payrollId}/payslip-links:
    get:
      summary: Get Payslip Links
      description: |
        Retrieve presigned download links for a payroll's payslips. Payslips exist only once the payroll is `Completed`; for payrolls that have not yet processed, entries appear under `notReady` with status `not_found`. Each link expires after a short window, so fetch and use them promptly.

        Pass `format=zip` to receive a single presigned URL pointing to a bundled archive of all ready payslips instead of per-person links.

        Payslips that are still being generated (or failed to generate) are returned under `notReady` with a `status` of `generating` or `error`. Retry the request after generation completes to receive their links.

        In sandbox, a payroll saved with a past `payrollDate` completes immediately on approval — the fastest way to obtain payslips for testing.
      operationId: getPayrollPayslipLinks
      tags:
        - Payrolls
      parameters:
        - $ref: "#/components/parameters/payrollId"
        - $ref: "#/components/parameters/XMultiTenantKey"
        - in: query
          name: format
          required: false
          schema:
            type: string
            enum:
              - zip
          description: When set to `zip`, ready payslips are bundled into a single archive and returned as one presigned URL via `zipUrl`. Omit for per-person links under `links`.
      responses:
        "200":
          $ref: "#/components/responses/GetPayslipLinksResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/platform/businesses:
    post:
      summary: Create
      description: Create a business
      operationId: createBusiness
      tags:
        - Platform
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBusinessRequest"
      responses:
        "200":
          $ref: "#/components/responses/CreateBusinessResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    get:
      summary: List
      description: Fetch all businesses
      operationId: retrieveBusinesses
      tags:
        - Platform
      parameters:
        - in: query
          name: idempotencyKey
          schema:
            type: string
          description: Idempotency key of a business
        - in: query
          name: next
          schema:
            type: string
          description: Query next set of results based on limit
        - in: query
          name: previous
          schema:
            type: string
          description: Query previous set of results based on limit
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            default: 20
            maximum: 100
          description: Maximum number of items to return per page
      responses:
        "200":
          $ref: "#/components/responses/GetBusinessesResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
      security:
        - Authorization: []
  /v1/platform/disbursements:
    get:
      summary: List Disbursements
      description: Retrieve all disbursements across all businesses under the platform. Use this endpoint for financial reconciliation across your sub-businesses.
      operationId: getPlatformDisbursements
      tags:
        - Platform
      parameters:
        - in: query
          name: businessId
          schema:
            type: string
            format: uuid
          description: >
            Scope results to a single business account. Returns only rows where that
            business's account is the sender or recipient — both money it sent
            (payroll, vendor payments, payouts) and money it received (deposits,
            refunds/reversals). This is narrower than `tenantKey`, which returns
            every row under a tenant.
          example: 1e6c5a83-7b86-4a32-a7da-0e5e2b3d8f10
        - in: query
          name: currency
          schema:
            type: string
          description: Filter by the business-facing currency — matches either the destination `amount` or the `sourceAmount`.
          example: USD
        - in: query
          name: startDate
          schema:
            type: string
            format: date
          description: Start of date range (ISO 8601, e.g. 2026-01-01). Defaults to 7 days ago.
        - in: query
          name: endDate
          schema:
            type: string
            format: date
          description: End of date range (ISO 8601, e.g. 2026-02-01). Defaults to now.
        - in: query
          name: type
          schema:
            type: string
          description: >
            Comma-separated, repeatable filter of disbursement type(s) to include.
            Supported values: PAYROLL, PAYOUT, TRANSFER, CARD_MAINTENANCE_FEE, CARD_CREATION_FEE, STOCK_BUY, STOCK_SELL, PAYROLL_FEE, INTEREST.
            When scoped to a single business with `businessId`, the business-relevant
            types are PAYROLL_TOTAL, PAYROLL, PAYROLL_FEE, PAYROLL_REVERSAL, DEPOSIT,
            DEPOSIT_REVERSAL, VENDOR, REVENUE_SHARE_PAYOUT, REIMBURSEMENT,
            SUBSCRIPTION_PAYMENT, STATUTORY_DEPOSIT; by default the per-employee
            PAYROLL legs and PAYROLL_FEE are collapsed into the single PAYROLL_TOTAL
            row, and passing an explicit `type` returns the raw rows.
          example: PAYROLL,PAYOUT
        - in: query
          name: status
          schema:
            type: string
            enum:
              - SUCCESS
              - FAILED
              - INITIATED
              - PROCESSING
              - ROUTED
          description: Filter by transaction status.
          example: SUCCESS
        - in: query
          name: includeRevenueShare
          schema:
            type: boolean
            default: false
          description: Set to `true` to include the revenue-share fields (`feeRevenueShare`, `fxRevenueShare`, `totalRevenueShare`) in each item. Omitted by default.
          example: true
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            default: 50
            maximum: 100
          description: Maximum number of items to return per page.
        - in: query
          name: next
          schema:
            type: string
          description: Opaque cursor for the next page — pass the `cursor.next` value from the previous response. Keep paging until `cursor.next` is null.
        - in: query
          name: previous
          schema:
            type: string
          description: Cursor to fetch the previous page of results.
      responses:
        "200":
          $ref: "#/components/responses/GetPlatformDisbursementsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/platform/disbursements/{disbursementId}:
    get:
      summary: Get Disbursement
      description: Fetch a single disbursement by ID.
      operationId: getPlatformDisbursement
      tags:
        - Platform
      parameters:
        - $ref: "#/components/parameters/disbursementId"
      responses:
        "200":
          $ref: "#/components/responses/GetPlatformDisbursementResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/platform/transfers:
    post:
      summary: Create Transfer
      description: |
        Move money between your own business accounts — your main business and
        its child businesses — internally and same-currency only. Settles
        immediately with no fee.

        Set `sourceTenantKey` to the business funds move from (omit it to send
        from your main business) and `destinationTenantKey` to the business they
        move to. Allowed movements are main → child, child → child, and
        child → main.

        There is no `GET` for a transfer — track it via the
        [platform disbursements endpoint](/api-reference/workforce/platform/list-disbursements)
        filtered to `type=TRANSFER`, matching the returned `id` or your `reference`.
      operationId: createPlatformTransfer
      tags:
        - Platform
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTransferRequest"
            examples:
              transferRequest:
                summary: Example transfer request
                value:
                  sourceTenantKey: blm123456
                  destinationTenantKey: blm998877
                  amount:
                    amount: 500000
                    currency: USD
                  reference: transfer-123
      responses:
        "200":
          $ref: "#/components/responses/CreatePlatformTransferResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/permissions/roles:
    get:
      summary: Custom Roles
      description: Get Custom Roles
      operationId: getRoles
      tags:
        - Platform
      responses:
        "200":
          $ref: "#/components/responses/GetPermissionRolesResponse"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
  /v1/contract-templates:
    get:
      summary: List Templates
      description: Fetch all contract tempaltes
      operationId: retrieveContractTemplates
      tags:
        - Contracts
      responses:
        "200":
          $ref: "#/components/responses/GetContractTemplatesResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
      security:
        - Authorization: []
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
  /v1/contracts:
    get:
      summary: List
      description: Fetch all contracts
      operationId: retrieveContracts
      tags:
        - Contracts
      parameters:
        - name: personId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          example: c30133cc-8d0e-42e5-b18c-24532e46b53e
          description: Optional UUID of the person to filter the contracts
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetContractsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
      security:
        - Authorization: []
    post:
      summary: Create
      description: Create a contract
      operationId: createContracts
      tags:
        - Contracts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContractRequest"
      responses:
        "200":
          description: create contract response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    $ref: "#/components/schemas/uuid"
                  name:
                    type: string
                    description: Contract name
                  personId:
                    $ref: "#/components/schemas/uuid"
                  signatures:
                    type: array
                    description: List of signatures required for the contract
                    items:
                      type: object
                      properties:
                        emailAddress:
                          type: string
                          format: email
                          description: Signer's email address
                        id:
                          $ref: "#/components/schemas/uuid"
                        lastViewedAt:
                          type: integer
                          format: int64
                          description: Timestamp when the contract was last viewed
                        name:
                          type: string
                          description: Signer's name
                        order:
                          type: integer
                          description: Signing order
                        signedAt:
                          type: integer
                          format: int64
                          description: Timestamp when the contract was signed
                        status:
                          type: string
                          description: Signature status
                          enum:
                            - unsigned
                            - signed
                  status:
                    type: string
                    description: Contract status
                  subject:
                    type: string
                    description: Contract email subject
                  templateId:
                    $ref: "#/components/schemas/uuid"
                  title:
                    type: string
                    description: Contract title
              example:
                id: ca51f42c-0adc-4a77-8dd1-a03dd4fb955f
                name: Jane Doe - Standard Global Contractor Agreement
                personId: ca51f42c-0adc-4a77-8dd1-a03dd4fb955f
                signatures:
                  - emailAddress: admin@example.com
                    id: ca51f42c-0adc-4a77-8dd1-a03dd4fb955f
                    lastViewedAt: 0
                    name: Admin
                    order: 0
                    signedAt: 0
                    status: unsigned
                  - emailAddress: worker@example.com
                    id: ca51f42c-0adc-4a77-8dd1-a03dd4fb955f
                    lastViewedAt: 0
                    name: Jane Doe
                    order: 1
                    signedAt: 0
                    status: unsigned
                status: awaiting business signature
                subject: The contract is ready for signature
                templateId: ca51f42c-0adc-4a77-8dd1-a03dd4fb955f
                title: Acme Corp has sent you a contract for signature
        "400":
          $ref: "#/components/responses/BadRequestError"
      security:
        - Authorization: []
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
  /v1/contracts/{contractId}:
    get:
      summary: Retrieve
      description: Retrieve a single contract by ID
      operationId: retrieveContract
      tags:
        - Contracts
      parameters:
        - $ref: "#/components/parameters/contractId"
        - name: includeDownloadUrl
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: When true, includes a presigned download URL for the contract PDF (valid for 15 minutes)
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          description: retrieve contract response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/contract"
                  - type: object
                    properties:
                      downloadUrl:
                        type: string
                        description: Presigned S3 download URL for the contract PDF. Only included when includeDownloadUrl=true.
                        example: https://storage.example.com/contracts/d52e4a13-7b6f-4c8d-a9e1-2f3b5c7d8e9a.pdf?token=abc123&expires=900
                      downloadUrlExpiresAt:
                        type: integer
                        description: Epoch timestamp when the download URL expires. Only included when includeDownloadUrl=true.
                        example: 1689760750
        "404":
          $ref: "#/components/responses/NotFoundError"
      security:
        - Authorization: []
  /v1/contracts/{contractId}/signingUrl:
    get:
      summary: Signing URL
      description: Get contract signing URL. The generated links last for 336 hours.
      operationId: getContractSigningUrl
      tags:
        - Contracts
      parameters:
        - $ref: "#/components/parameters/contractId"
        - name: redirectUrl
          in: query
          description: URL to redirect to after signing the contract
          required: false
          schema:
            type: string
            format: uri
            example: https://www.google.com
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetContractSigningURLResponse"
        "500":
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/contracts-upload:
    post:
      summary: Upload Contract
      description: Upload a contract PDF using a fileId from the files API
      operationId: uploadContract
      tags:
        - Contracts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadContractRequest"
      responses:
        "200":
          description: upload contract response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    $ref: "#/components/schemas/uuid"
                  name:
                    type: string
                    description: Contract name
                  personId:
                    $ref: "#/components/schemas/uuid"
                  status:
                    type: string
                    description: Contract status
              example:
                id: ca51f42c-0adc-4a77-8dd1-a03dd4fb955f
                name: Employment Agreement
                personId: ca51f42c-0adc-4a77-8dd1-a03dd4fb955f
                status: completed
        "400":
          $ref: "#/components/responses/BadRequestError"
      security:
        - Authorization: []
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
  /v1/businesses/{businessId}:
    get:
      summary: Get Business
      description: Get a business
      operationId: getBusiness
      tags:
        - Businesses
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetBusinessResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/me:
    get:
      summary: Get Current Identity
      description: >-
        Retrieve the calling API key's access level and the business the request
        resolved to, including its `businessId` and tenant key. With a Platform
        API token, pass `X-MultiTenantKey` to confirm which sub-business your
        requests operate on.
      operationId: getMe
      tags:
        - Businesses
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetMeResponse"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/balances:
    get:
      summary: Get Balances
      description: Get a business's account balances
      operationId: getBusinessBalances
      tags:
        - Treasury
      parameters:
        - $ref: "#/components/parameters/businessId"
        - name: include
          in: query
          description: Comma-separated list of additional fields to include (e.g. reserves)
          required: false
          schema:
            type: string
            example: reserves
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetBalancesResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/transactions:
    get:
      summary: Get Balance Ledger
      description: |
        Retrieve a business's balance ledger — every credit and debit on the business's balance, including funding deposits and outgoing payments, with the direction and balance effect of each entry. Use this endpoint to reconcile balance movements against your own books.

        For full disbursement records of each movement — payment method, FX rate, and fee breakdown — use [Platform Disbursements](/api-reference/workforce/platform/list-disbursements) filtered by `businessId` instead.
      operationId: getBusinessTransactions
      tags:
        - Treasury
      parameters:
        - $ref: "#/components/parameters/businessId"
        - name: currency
          in: query
          description: Currency code for transactions (required)
          required: true
          schema:
            type: string
            example: USD
        - name: startDate
          in: query
          description: Start date for transactions filter (required)
          required: true
          schema:
            type: string
            format: date
            example: "2024-01-01"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetBusinessTransactionsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/statement:
    get:
      summary: Get Statement
      description: Download a business's account statement for a date range. Returns JSON by default; set `format` to `csv` or `bai2` to download a file instead.
      operationId: getBusinessStatement
      tags:
        - Treasury
      parameters:
        - $ref: "#/components/parameters/businessId"
        - name: currency
          in: query
          description: Currency code for the statement (required)
          required: true
          schema:
            type: string
            example: USD
        - name: periodStart
          in: query
          description: Start of the statement period (ISO 8601 date, required)
          required: true
          schema:
            type: string
            format: date
            example: "2024-01-01"
        - name: periodEnd
          in: query
          description: End of the statement period (ISO 8601 date, required)
          required: true
          schema:
            type: string
            format: date
            example: "2024-01-31"
        - name: format
          in: query
          description: Response format. Omit for JSON; `csv` or `bai2` return a downloadable file.
          required: false
          schema:
            type: string
            enum:
              - csv
              - bai2
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          description: The business account statement (JSON, or a CSV/BAI2 file download when `format` is set).
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/funding-details:
    get:
      summary: Get Funding Details
      description: Returns the business's funding details.
      operationId: getFundingDetails
      tags:
        - Treasury
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
        - in: query
          name: currency
          required: false
          schema:
            type: string
          description: Filter funding details by currency (ISO 4217 code, e.g. USD or EUR)
      responses:
        "200":
          $ref: "#/components/responses/GetFundingDetailsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/deposits:
    post:
      summary: Create Deposit
      description: Create a deposit to add funds to a business account
      operationId: createBusinessDeposit
      tags:
        - Treasury
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBusinessDepositRequest"
      responses:
        "200":
          $ref: "#/components/responses/CreateBusinessDepositResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/crypto-deposit-addresses:
    post:
      summary: Create Crypto Deposit Address
      description: Creates a crypto deposit address for the business on the given chain. Fails if an address already exists for that currency and chain.
      operationId: createCryptoDepositAddress
      tags:
        - Treasury
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currency
                - chain
              properties:
                currency:
                  type: string
                  enum:
                    - USDC
                    - USDT
                  description: Stablecoin to receive
                  example: USDC
                chain:
                  type: string
                  description: "Blockchain network. USDC: ethereum, solana, arbitrum, base, polygon. USDT: ethereum, solana, tron."
                  example: ethereum
      responses:
        "200":
          description: Crypto deposit address created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  currency:
                    type: string
                    example: USDC
                  chain:
                    type: string
                    example: ethereum
                  address:
                    type: string
                    example: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
        "400":
          description: "Bad request — an unsupported currency/chain, or a deposit address already exists for that currency and chain."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
              example:
                code: invalid_request_body
                message: One or more input values are invalid. Please re-enter valid values
                params:
                  chain: currency and chain combination already exists
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/reserves:
    post:
      summary: Create Reserve
      description: Lock or release business reserves (e.g. security deposits)
      operationId: createReserve
      tags:
        - Treasury
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReserveRequest"
      responses:
        "200":
          $ref: "#/components/responses/ReserveResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/withdrawal/link:
    post:
      summary: Generate Withdrawal Link
      description: |
        Generate a short-lived JWT-signed URL that lets a business
        owner withdraw funds from their wallet to an external bank beneficiary
        without signing into the dashboard.
      operationId: generateWithdrawalLink
      tags:
        - Treasury
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HostedLinkRequest"
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/HostedLinkResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/external-accounts:
    get:
      summary: Get External Accounts
      description: Get external accounts linked to a business
      operationId: getExternalAccounts
      tags:
        - Treasury
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetExternalAccountsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/external-accounts/link:
    post:
      summary: Generate External Account Link
      description: Generate External Account Link
      operationId: generateLinkForExternalAccount
      tags:
        - Treasury
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateExternalAccountLinkRequest"
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GenerateLinkForExternalAccountResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/external-accounts/{externalAccountId}:
    delete:
      summary: Delete External Account
      description: Delete an external account linked to a business
      operationId: deleteExternalAccount
      tags:
        - Treasury
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/externalAccountId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "204":
          description: External account successfully deleted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/departments:
    post:
      summary: Create Department
      description: Create a department
      operationId: createDepartment
      tags:
        - Businesses
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddDepartmentsRequest"
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/CreateDepartmentsResponse"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/departments/{departmentId}:
    put:
      summary: Update Department
      description: Update a department
      operationId: updateDepartment
      tags:
        - Businesses
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDepartmentRequest"
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/departmentId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "204":
          description: Successful operation
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/customFields:
    post:
      summary: Create Custom Field
      description: Create a custom field
      operationId: createCustomField
      tags:
        - Businesses
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddCustomFieldsRequest"
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/CreateCustomFieldsResponse"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/customFields/{customFieldId}:
    put:
      summary: Update Custom Field
      description: Update a custom field
      operationId: updateCustomField
      tags:
        - Businesses
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomFieldRequest"
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/customFieldId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "204":
          description: Successful operation
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/kyb:
    post:
      summary: Submit KYB
      description: >-
        Submit Know Your Business (KYB) information for verification. Use POST to provide new
        information — the initial submission and any change to the set of principals; to
        correct information already on file, use PATCH instead.
      operationId: submitKYB
      tags:
        - KYB
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KYBRequest"
      responses:
        "204":
          description: KYB information submitted successfully
        "400":
          description:
            Bad input, or the KYB is not editable. Submission is only allowed while the KYB
            status is `initialized`, `incomplete`, `awaiting-principal-kyc`, or
            `needs-additional-info` — a KYB that is `pending-review`, `complete`, or
            `rejected` cannot be modified.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    get:
      summary: Get KYB
      description: Returns the business's KYB details. Returns 404 if KYB has not been started for the business.
      operationId: getKyb
      tags:
        - KYB
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetKYBResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    patch:
      summary: Update KYB
      description: >-
        Update KYB information already provided. Only the fields you include are changed;
        new principals cannot be added with PATCH — re-POST the full submission instead.
        Document arrays are appended to, not replaced.
      operationId: updateKyb
      tags:
        - KYB
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/KYBRequest"
                - type: object
                  properties:
                    principals:
                      type: array
                      description:
                        Principals to update. Each entry — including individuals nested under an
                        entity principal's 'entity.individuals' — must include the 'id' of an
                        existing principal (returned by GET KYB); a missing or unknown 'id' fails
                        the request with 400. PATCH cannot add new principals — re-POST the full
                        submission to add one.
                      items:
                        allOf:
                          - $ref: "#/components/schemas/PrincipalRequest"
                          - type: object
                            required:
                              - id
                            properties:
                              id:
                                type: string
                                format: uuid
                                description: ID of the existing principal being updated (required at every nesting level in PATCH requests)
                                example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        "204":
          description: KYB information updated successfully
        "400":
          description:
            Bad input, an unknown principal `id` (`"principal not found"`), or the KYB is not
            editable. Updates are only allowed while the KYB status is `initialized`,
            `incomplete`, `awaiting-principal-kyc`, or `needs-additional-info` — a KYB that is
            `pending-review`, `complete`, or `rejected` cannot be modified.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/businesses/{businessId}/kyb-link:
    post:
      summary: Generate KYB Link
      description: Get KYB Link
      operationId: getKybLink
      tags:
        - KYB
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateKybLinkRequest"
      parameters:
        - $ref: "#/components/parameters/businessId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/CreateKybLinkResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/entities:
    post:
      summary: Create
      description: Create a new legal entity under the current business
      operationId: createEntity
      tags:
        - Entities
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEntityRequest"
      responses:
        "200":
          description: Entity created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    get:
      summary: List
      description: List all legal entities for the current tenant
      operationId: listEntities
      tags:
        - Entities
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          description: List of entities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GetEntitiesResponse"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/entities/{entityId}:
    get:
      summary: Get
      description: Fetch a single legal entity by ID
      operationId: getEntity
      tags:
        - Entities
      parameters:
        - $ref: "#/components/parameters/entityId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          description: Entity details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEntityResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    patch:
      summary: Update
      description: Update an existing legal entity
      operationId: updateEntity
      tags:
        - Entities
      parameters:
        - $ref: "#/components/parameters/entityId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEntityRequest"
      responses:
        "204":
          description: Successful operation
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/sandbox/business-deposits:
    post:
      summary: Deposit
      description: Add funds to a business for payroll
      operationId: sandboxDeposit
      tags:
        - Sandbox
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxDepositRequest"
      responses:
        "204":
          description: Successful operation
        "400":
          $ref: "#/components/responses/BadRequestError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/sandbox/users/{userId}:
    delete:
      summary: Delete User
      description: Delete a user
      operationId: adminDeleteUser
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      tags:
        - Sandbox
      responses:
        "204":
          description: Successful operation
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/invoices:
    get:
      summary: List Invoices
      description: >-
        List invoices for your business. Optionally filter by person, user,
        source, status, type, or invoice date range. Filters can be combined;
        all are optional.
      operationId: listInvoices
      tags:
        - Invoices
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
        - name: personId
          in: query
          required: false
          description: >-
            Only include invoices for this person (e.g. the contractor the
            invoice pays). Matches the `personId` field on the invoice.
          schema:
            type: string
            format: uuid
        - name: userId
          in: query
          required: false
          description: Only include invoices belonging to this user
          schema:
            type: string
            format: uuid
        - name: source
          in: query
          required: false
          description: >-
            Filter by invoice origin, e.g. only contractor-submitted invoices
            (CONTRACTOR_SUBMITTED) or invoices auto-created from payroll
            (PAYROLL)
          schema:
            type: string
            enum:
              - SYSTEM
              - USER
              - REIMBURSEMENT
              - PAYROLL
              - CONTRACTOR_SUBMITTED
        - name: status
          in: query
          required: false
          description: >-
            Filter by invoice status (case-insensitive), e.g. Pending,
            Processing, Paid, Partially Paid, Overdue, Cancelled
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: Filter by invoice type
          schema:
            type: string
            enum:
              - MANUAL
              - PAYROLL
              - CONTRACTOR
        - name: startDate
          in: query
          required: false
          description: Only include invoices with an invoice date on or after this date
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          description: Only include invoices with an invoice date on or before this date
          schema:
            type: string
            format: date
        - name: limit
          in: query
          required: false
          description: Maximum number of invoices to return per page (default 20)
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          required: false
          description: >-
            Opaque pagination cursor from the previous page's `node.next`.
            Omit to start from the first page.
          schema:
            type: string
      responses:
        "200":
          description: A list of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        status:
                          type: string
                          description: Invoice status
                        source:
                          type: string
                          enum:
                            - SYSTEM
                            - USER
                            - REIMBURSEMENT
                            - PAYROLL
                            - CONTRACTOR_SUBMITTED
                          description: Origin of the invoice
                        type:
                          type: string
                          enum:
                            - MANUAL
                            - PAYROLL
                            - CONTRACTOR
                          description: Invoice type
                        invoiceNumber:
                          type: string
                          description: Human-readable invoice number
                        from:
                          type: string
                          description: Name of the invoice issuer
                        billTo:
                          type: string
                          description: Name of the billed party
                        personId:
                          type: string
                          format: uuid
                          description: >-
                            The person the invoice is for (e.g. the contractor
                            being paid), when applicable
                        userId:
                          type: string
                          format: uuid
                          description: The user the invoice belongs to, when applicable
                        date:
                          type: string
                          format: date
                          description: Invoice date
                        datePayable:
                          type: string
                          format: date
                          description: Date the invoice is payable
                        subtotalAmount:
                          type: array
                          description: Subtotal per currency
                          items:
                            type: object
                            properties:
                              value:
                                type: string
                                description: Decimal amount as a string
                              currency:
                                type: string
                        totalAmount:
                          type: array
                          description: Total per currency
                          items:
                            type: object
                            properties:
                              value:
                                type: string
                                description: Decimal amount as a string
                              currency:
                                type: string
                  node:
                    type: object
                    description: Pagination cursors
                    properties:
                      previous:
                        type: string
                        nullable: true
                        description: Cursor this page started from; null on the first page
                      next:
                        type: string
                        nullable: true
                        description: Cursor for the next page; null when there are no more results
              example:
                data:
                  - id: "0f6c2f8a-3d9b-4c57-9a41-8f2f6f7f1c33"
                    status: "Pending"
                    source: "PAYROLL"
                    type: "CONTRACTOR"
                    invoiceNumber: "1764332528"
                    from: "Ada Lovelace"
                    billTo: "Globex LLC"
                    personId: "9d2f7a44-1be3-4e28-8d40-63f19a7d5b8e"
                    userId: "b58725e6-fabc-4a1a-9e5f-31efdbdbc45f"
                    date: "2025-11-28"
                    datePayable: "2025-12-28"
                    subtotalAmount:
                      - value: "800.00"
                        currency: "USD"
                    totalAmount:
                      - value: "800.00"
                        currency: "USD"
                  - id: "ca51f42c-0adc-4a77-8dd1-a03dd4fb955f"
                    status: "Paid"
                    source: "SYSTEM"
                    type: "MANUAL"
                    invoiceNumber: "1764332529"
                    from: "Acme Inc"
                    billTo: "Globex LLC"
                    date: "2025-11-28"
                    datePayable: "2025-12-28"
                    subtotalAmount:
                      - value: "800.00"
                        currency: "USD"
                    totalAmount:
                      - value: "880.00"
                        currency: "USD"
                node:
                  next: "eyJ0ZW5hbnRLZXkiOnsiUyI6InRibDI4MTUzMjA4In0sInNvcnRLZXkiOnsiUyI6ImNhNTFmNDJjIn19"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/invoices/{invoiceId}:
    get:
      summary: Get Invoice
      description: Get invoice details
      operationId: getInvoice
      tags:
        - Invoices
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetInvoiceResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/invoices/{invoiceId}/url:
    get:
      summary: Get Invoice URL
      description: Get a short-lived URL for the invoice PDF
      operationId: getInvoiceUrl
      tags:
        - Invoices
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          $ref: "#/components/responses/GetInvoiceUrlResponse"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/invoices/{invoiceId}/review:
    post:
      summary: Review Invoice
      description: >-
        Approve or reject a contractor self-submitted invoice. Only invoices
        with a `source` of `CONTRACTOR_SUBMITTED` in `pending` status can be
        reviewed; any other invoice returns 400.
      operationId: reviewInvoice
      tags:
        - Invoices
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  enum:
                    - approve
                    - reject
                  description: Whether to approve or reject the invoice
                reason:
                  type: string
                  description: Reason for the decision. Required when action is reject.
      responses:
        "204":
          description: Invoice reviewed
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/invoices/{invoiceId}/cancel:
    post:
      summary: Cancel Invoice
      description: >-
        Cancel an invoice. The invoice is voided and can no longer be paid or
        reviewed.
      operationId: cancelInvoice
      tags:
        - Invoices
      parameters:
        - $ref: "#/components/parameters/invoiceId"
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "204":
          description: Invoice cancelled
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
  /v1/reimbursements:
    get:
      summary: List Reimbursements
      description: List reimbursements for your business.
      operationId: listReimbursements
      tags:
        - Reimbursements
      parameters:
        - $ref: "#/components/parameters/XMultiTenantKey"
      responses:
        "200":
          description: A list of reimbursements
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        userId:
                          type: string
                          format: uuid
                        title:
                          type: string
                        fullName:
                          type: string
                        currency:
                          type: string
                        destinationCurrency:
                          type: string
                        status:
                          type: string
                        totalAmount:
                          type: object
                          properties:
                            currency:
                              type: string
                            value:
                              type: string
                        createdTimestamp:
                          type: integer
                        lastUpdatedTimestamp:
                          type: integer
                  node:
                    type: object
              example:
                data:
                  - id: "d1e2f3a4-5678-9012-cdef-345678901234"
                    userId: "a3b4c5d6-e7f8-9012-abcd-ef3456789012"
                    title: "Client dinner"
                    fullName: "Ada Lovelace"
                    currency: "USD"
                    destinationCurrency: "USD"
                    status: "Approved"
                    totalAmount:
                      currency: "USD"
                      value: "1000.00"
                    createdTimestamp: 1764332528
                    lastUpdatedTimestamp: 1764332600
                node: {}
        5XX:
          $ref: "#/components/responses/InternalError"
      security:
        - Authorization: []
    post:
      summary: Create Reimbursement
      description: >-
        Create a reimbursement for a worker in your business. The reimbursement
        is created in a pending status and must be reviewed (via [`POST
        /v1/reimbursements/{reimbursementId}/review`](#tag/reimbursements/post/v1/reimbursements/{reimbursementId}/review))
        before it is paid out. Each entry may optionally reference one or more
        `fileIds` of previously uploaded files to attach proof (e.g. receipts).
[...]
